@import "tailwindcss";
@import "@nuxt/ui";

@import "./fonts.css";
:root {
  --ui-radius: 0.25rem;
  --secondary-color: #e20054;
}

html,
body {
  font-family: "YekanBakh", sans-serif;
  direction: rtl;
  margin: 0;
  padding: 0;
  background-color: #e9edf5;
}
